{% extends "base_generic.html" %}
{% block additional_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/list_view.css' %}">
{% endblock %}
{% block content %}
    <h1 class="list-title">Author List</h1>
    {% if perms.catalog.can_maintain %}
    <a href="{% url 'author_create' %}">Add author</a>{% endif %}
    <hr>
    {% if author_list %}
    <ul class="catalog-list">
        {% for author in author_list %}
            <li>
                <a href="{{ author.get_absolute_url }}">
                    {{ author }}
                    ({{ author.date_of_birth }} - {{ author.date_of_death|default_if_none:"" }})
                </a>
                {% if perms.catalog.can_maintain %}
                    <span class="option-right">
                        <a class="text-warning" href="{% url 'author_update' pk=author.pk %}">Update</a>
                        &nbsp;|&nbsp;
                        <a class="text-danger" href="{% url 'author_delete' pk=author.pk %}">Delete</a>
                    </span>

                {% endif %}
            </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>There are currently no authors in the library. </p>
    {% endif %}

{% endblock %}