{% extends "base_generic.html" %}

{% block content %}
<h1>All Borrowed Books</h1>
    <ul>
    {% for book_inst in bookinstance_list %}
    <li class="{% if book_inst.is_overdue %}text-danger{% endif %}">
    <a href="{% url 'book-detail' book_inst.book.id%}">
        {{ book_inst.book }}
    </a> ({{ book_inst.due_back }}) - {{ book_inst.borrower }}
{#    {% if perms.catalog.can_mark_returned %}#}
         &nbsp;- <a href="{% url 'renew-book-librarian' book_inst.id %}">
        Renew</a>
{#    {% endif %}#}
    </li>
    {% endfor %}
    </ul>
{% endblock %}